{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-APP - Budgets</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'index' %}">F-App</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projets-page">
        <section class="portfolio-block project-no-images" style="padding-top:50px;padding-bottom:50px;">
            <div class="container">
                <div class="heading">
                    <h2>My Budgets</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a></div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">&nbsp;Edit&nbsp;</a>&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" role="button" href="#">Delete</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About Us</a><a href="#">Contact Us</a><a href="#"></a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/js/script.min.js' %}"></script>
</body>

</html>