{% extends "base.html" %}
{% load static %}
{% block title %}Budgets Page{% endblock %}
{% block addlink %}#newexpense{% endblock %}
{% block add %}New Expense{% endblock %}
{% block sidebar %}
<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="{% url 'index' %}" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="{% static "images/shards-dashboards-logo.svg" %}"
                        alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Manager App</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">                        </div>
    </form>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link " href="index.html">
                    <i class="material-icons">dashboard</i>
                    <span>Incomes Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="components-blog-posts.html">
                    <i class="material-icons">dashboard</i>
                    <span>Expenses Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'view_incomes' budget.id %}">
                    <i class="material-icons">attach_money</i>
                    <span>Incomes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'view_expenses' budget.id %}">
                    <i class="material-icons">access_time</i>
                    <span>Expenses</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
{% endblock %}
{% block content %}
<div class="modal fade" role="dialog" tabindex="-1" id="newexpense">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Expense</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" action="{% url 'create_expense' budget.id %}" id="newexpense">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <div id="successfail"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12" id="message">
                            <div class="form-group">
                                <label for="from-name">Name</label>
                                <span class="required-input">*</span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="name" required="" placeholder="Expense Name"
                                        id="from-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="from-name">Amount</label>
                                <span class="required-input">*</span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="number" name="amount" step="1" required=""
                                        placeholder="Expense Amount" id="from-amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" type="reset">
                                            <i class="fa fa-undo"></i> Reset</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" type="submit">Submit
                                            <i class="fa fa-chevron-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-flex d-md-none" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="editexpense" aria-labelledby="editexpense">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Expense</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST" id="editform">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" id="id" readonly type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="from-name">New Name</label>
                        <span class="required-input">*</span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user-o"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" name="name" required="" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="from-name">New Amount</label>
                        <span class="required-input">*</span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user-o"></i>
                                </span>
                            </div>
                            <input class="form-control" name="amount" id="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <button class="btn btn-primary btn-block" type="button" data-dismiss="modal">
                                    <i class="fa fa-edit"></i>Close</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block" type="submit">Edit
                                    <i class="fa fa-chevron-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="deleteexpense" aria-labelledby="deleteexpense">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure to delete this expense?</h5>
                </div>
                <input class="form-control" id="amount" readonly type="hidden" />
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal">
                                <i class="fa fa-edit"></i>Close</button>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary btn-block" href="#" id="removelink">Delete
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">{{ budget.name }} expenses</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        {% if expenses %} {% for expense in expenses %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url({% static 'images/content-management/1.jpeg' %} );">
                    <a href="#" class="card-post__category badge badge-pill badge-dark">6th SEP 2018</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url({% static 'images/avatars/0.jpg' %});"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="{% url 'view_mini_expenses' expense.id %}">{{ expense.name }}</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3"><span class="ml-auto text-right text-semibold text-reagent-gray">Kshs.
                            {{ expense.amount }}</span></p>
                    <div class="progress-wrapper">
                        <strong class="text-muted d-block mb-2">Remaining</strong>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{ expense.rem_amount|floatformat:2 }}%;">
                                <span class="progress-value">{{ expense.rem_amount|floatformat:2 }} %</span>
                            </div>
                        </div>
                    </div>
                    <p>
                        <div>
                            <button data-toggle="modal" data-target="#editexpense" data-id="{{ expense.id }}"
                                data-amount="{{ expense.amount }}" data-item="{{ expense.name }}" data-budgetid="{{ budget.id }}"
                                class="btn btn-outline-primary btn-sm" type="button" style="width:95px; float: left; display: block">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button data-toggle="modal" data-target="#deleteexpense" data-id="{{ expense.id }}"
                                data-item="{{ expense.name }}" data-budgetid="{{ budget.id }}" class="btn btn-outline-primary btn-sm"
                                type="button" style="width:95px; float: right; display: block" align="right">Delete</button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock content %}

